<table class="table  table-bordered table-hover">
    <tr >
        <th class="text-r">姓名:</th>
        <td class="reader">姓名:<input type="text" class="input-text  size-s"></td>
        <th class="text-r  " >性别:</th>
        <td class="gender "><input type="text" class="input-text  size-s"></td>
        <th class="text-r">读者类型:</th>
        <td class="typename"><input type="text" class="input-text  size-s"></td>
    </tr>
    <tr>
        <th class="text-r">证件类型:</th>
        <td class="paperType"><input type="text"  class="input-text  size-s"></td>
        <th class="text-r">证件号码:</th>
        <td class="paperNumber"><input type="text"  class="input-text  size-s"></td>
        <th class="text-r">可借数量:</th>
        <td class="borrowNumber"><input type="text"  class="input-text  size-s"></td>
    </tr>
</table>